* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.main {
    overflow: hidden;
}

.nav {
    width: 100vw;
    background-color: #fff;
}

.wrapper-nav {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-nav img {
    width: 210px;
    height: 80px;
    object-fit: contain;
}

.nav-search1 {
    width: 40%;
    display: flex;
    padding: 5px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #eee;
}

.nav-search1 button {
    padding: 10px 20px;
    color: white;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #22c58b;
    border: 0;
    outline: none;
    cursor: pointer;
}

.nav-search1 input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    -webkit-appearance: none;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    outline: none;
    line-height: normal;
}

.nav-right {
    display: flex;
    align-items: center;
    list-style: none;
}

.right-item {
    cursor: pointer;
}

.right-item i {
    font-size: 24px;
}

.right-item:first-child span {
    padding: 3px 5px;
    border: 2px solid #000;
    border-radius: 50%;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    position: relative;
    top: -16px;
    right: 15px;
}

.right-item:last-child {
    font-size: 16px;
    font-weight: 500;
}


/* Content */

.content {
    margin-top: 40px;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.title hr {
    flex: 1;
    height: 2px;
}

.title span {
    font-size: 22px;
    font-weight: 600;
    padding: 0 8px;
}

.content-item {
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
}

.img {
    overflow: hidden;
    text-align: center;
    height: 264px;
    width: 254px;
    display: inline-block;
}

.img img {
    width: 90%;
    height: 100%;
    object-fit: contain;
    transform: scale(1);
    transition: all 0.3s ease;
}

.img span {
    width: 90%;
    margin: 0 auto;
    display: block;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    padding: 14px 0;
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.img:hover img {
    transform: scale(1.06);
}

.img:hover span {
    transform: translateY(-52px);
    opacity: 1;
    pointer-events: all;
}

.content-item p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 42px;
    max-height: 42px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
}

.before-price {
    text-decoration: line-through;
    color: #766e6e;
    font-size: 18px;
}

.current-price {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.content-item button {
    border: 2px solid #000;
    font-weight: 600;
    font-size: 12px;
    padding: 8px 12px;
    background-color: transparent;
    transition: all 0.2s ease;
}

.content-item button:hover {
    background-color: #000;
    color: #fff;
}


/* footer */

.footer {
    margin-top: 28px;
    text-align: center;
}

.footer p {
    padding: 12px 0;
    background-color: #ccc;
    color: #000;
    font-weight: 600;
}

.quick-info {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    z-index: 9;
}

.popup {
    opacity: 1;
    pointer-events: all;
}

.overlay1,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.18);
    animation: popup 0.2s linear;
    z-index: 1;
}

.info img {
    height: 420px;
    width: 420px;
    object-fit: contain;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    width: 860px;
    height: 80vh;
    padding: 24px 0;
    animation: popup 0.3s ease;
    z-index: 6;
}

.content-info h1 {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 24px;
    width: 90%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.close-btn {
    padding: 10px;
    font-size: 22px;
    position: absolute;
    top: 14px;
    right: 13px;
    cursor: pointer;
}

.desc-list {
    margin-top: 42px;
    margin-left: 10px;
}

.desc-item {
    width: 356px;
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 8px;
}

.status {
    font-size: 17px;
    color: #618d36;
    font-weight: 600;
    margin: 18px 0 22px;
    display: block;
}

.empty {
    color: rgb(219, 31, 31);
}

.wrapper-add-cart .add-cart.disabled {
    background-color: #3e3838;
    color: #7c6969;
    cursor: default;
    background-color: #ccc;
    color: #665b5b;
}

.wrapper-add-cart {
    display: flex;
}

.subtract,
.add {
    width: 25px;
    height: 40px;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}

#number {
    outline: none;
    width: 50px;
    height: 40px;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    border-left: 0px;
    border-right: 0px;
    padding-left: 19px;
    font-size: 17px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapper-add-cart .add-cart {
    margin-left: 26px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 14px;
}

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.wrapper-cart {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.show-cart.wrapper-cart {
    pointer-events: all;
}

.show-cart.wrapper-cart .content-cart {
    transform: translateX(0);
}

.show-cart.wrapper-cart .overlay1 {
    opacity: 1;
}

.overlay1 {
    opacity: 0;
    transition: all 0.2s ease;
}

.content-cart {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width: 400px;
    height: 100vh;
    z-index: 4;
    padding: 0 16px;
    transform: translateX(100%);
    transition: all 0.25s ease;
}

.title-cart {
    margin-top: 24px;
}

.title-cart h2 {
    font-size: 24px;
}

.list-cart {
    list-style: none;
    margin-top: 20px;
    max-height: 780px;
    overflow-y: auto;
    font-size: 20px;
}

.cart-item-body {
    width: 100%;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.cart-item:not(:last-child) {
    border-bottom: 1px solid #999;
}

.cart-item img {
    height: 74px;
    width: 74px;
    margin-right: 12px;
}

.product-name h5 {
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 8px;
}

.info-product {
    margin-bottom: 8px;
}

.qnt,
.product-price {
    font-weight: 600;
}

.multi {
    font-size: 14px;
    color: rgb(85, 80, 80);
}

.type-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type-item {
    font-weight: 600;
}

.btn-delete {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 2px;
}

.total-price {
    position: absolute;
    bottom: 68px;
    font-size: 18px;
}

.total-price span {
    font-size: 19px;
    font-weight: 600;
    text-align: right;
    margin-left: 16px;
}

.btns-cart {
    position: absolute;
    bottom: 12px;
    text-align: center;
    width: 100%;
}

.check-cart,
.delete-all {
    border: none;
    padding: 10px 16px;
    background-color: #4433cd;
    color: #fff;
    font-weight: 600;
    outline: none;
}

.check-cart {
    margin-left: 20px;
}

@media screen and (max-width: 420px) {
    .wrapper-nav img {
        width: 120px;
        height: 68px;
    }
    .nav-search1 {
        width: 46%;
    }
    .nav-right {
        margin-left: 10px;
    }
    .info {
        width: 100vw;
        height: 100vh;
        transform: translate(-47.5%, -50%);
        overflow-y: auto;
    }
    .info::-webkit-scrollbar {
        width: 12px;
        color: rgb(99, 88, 88);
    }
    .info::-webkit-scrollbar-thumb {
        background: rgb(87, 82, 82);
    }
    .close-btn {
        top: 4px;
        right: 5px;
    }
    .content-info h1 {
        margin-top: 8px;
    }
    .desc-list {
        list-style: none;
    }
    .desc-item {
        width: 100%;
    }
    .info img {
        height: unset;
    }
    .content-info {
        text-align: center;
        text-align: -webkit-center;
    }
    .wrapper-add-cart {
        justify-content: center;
    }
}

@media screen and (max-width: 770px) and (min-width: 421px) {
    .info {
        width: 94vw;
        transform: translate(-48.5%, -50%);
    }
}